<template lang="pug">
  v-row
    v-col
      admin-complex-queues
</template>

<script>

import AdminComplexQueues from '@/components/admin/complex/AdminComplexQueues'

export default {
  components: { AdminComplexQueues },
  layout: 'admin'
}
</script>
