<template lang="pug">
  v-row
    v-col
      admin-complex-progress

</template>

<script>

import AdminComplexProgress from '@/components/admin/complex/AdminComplexProgress'

export default {
  components: { AdminComplexProgress },
  layout: 'admin'
}
</script>
