<template lang="pug">
  div
    v-card(outlined :loading="loading")
      v-toolbar(dense)
        v-toolbar-title Очереди
        v-spacer
        admin-complex-queues-add(@loadQueues="loadQueues")
      v-tabs(v-model="tab" show-arrows)
        v-tab(v-for="queue in queues" :key="queue.id") {{queue.name}}
      v-tabs-items(v-model="tab")
        v-tab-item(v-for="queue in queues" :key="queue.id" transition="scroll-y-reverse-transition" reverse-transition="scroll-y-reverse-transition")
          v-card(flat)
            v-card-text
              v-row
                v-col(md=4)
                  v-list(two-line)
                    admin-complex-queues-item(:key="building.id"
                      v-for="building in queue.buildings"
                      :building="building"
                      :queues="queues"
                      :queue="queue"
                      :show-change-queue="queues.length > 1"
                      @loadQueues="loadQueues")
                v-col(md="8")
                  admin-complex-queue-image(:image="queue.image" :buildings="buildingsListPositions(queue.buildings)" :queue-id="queue.id" @loadQueues="loadQueues")
            admin-complex-queues-settings(:queue-id="queue.id" @loadQueues="loadQueues")
    admin-modal-building-comment(@loadQueues="loadQueues")
</template>

<script>
import { mapState } from 'vuex'
import AdminComplexQueuesItem from '@/components/admin/complex/queues/AdminComplexQueuesItem'
import AdminComplexQueuesAdd from '@/components/admin/complex/queues/AdminComplexQueuesAdd'
import AdminComplexQueuesSettings from '@/components/admin/complex/queues/AdminComplexQueuesSettings'
import AdminComplexQueueImage from '@/components/admin/complex/queues/AdminComplexQueuesImage'
import AdminModalBuildingComment from '@/components/admin/modal/AdminModalBuildingComment'

export default {
  name: 'AdminComplexQueues',
  components: { AdminModalBuildingComment, AdminComplexQueueImage, AdminComplexQueuesSettings, AdminComplexQueuesAdd, AdminComplexQueuesItem },
  async fetch () {
    if (!this.queues) {
      await this.loadQueues()
    }
  },
  data () {
    return {
      loading: false,
      tab: 0
    }
  },
  computed: {
    ...mapState('complex', { complex: 'select', queues: 'queues' })
  },
  methods: {
    async loadQueues () {
      this.loading = true
      await this.$store.dispatch('complex/loadQueues')
      this.loading = false
    },
    buildingsListPositions (buildings) {
      return buildings.map((e) => {
        return {
          id: e.id,
          name: e.params && e.params.name ? e.params.name : e.corp,
          position: e.position
        }
      })
    }
  }
}
</script>
