<template lang="pug">
  div
    v-card(outlined :loading="loading")
      v-toolbar(dense)
        v-toolbar-title Ход строительства
      v-tabs(v-model="tabYear" v-if="progress" centered)
        v-tab(v-for="year in years" :key="year.name" :href="`#${year.name}`" @change="tabMonth=0")
          v-badge(:content="year.count" :value="year.count") {{year.name}}
        v-tab-item(v-for="year in years" :key="year.name" :value="`${year.name}`")
          v-card(flat)
            v-tabs(vertical v-model="tabMonth")
              v-tab(v-for="(month,indexMonth) in months" :key="indexMonth" :href="`#${indexMonth+1}`")
                v-badge(:content="month.count" :value="month.count") {{month.name}}
              v-tab-item(v-for="(month,indexMonth) in months" :key="indexMonth" :value="`${indexMonth+1}`")
                admin-complex-progress-upload(:year="Number(tabYear)" :month="Number(tabMonth)" @loadProgress="loadProgress")
                admin-complex-progress-month(:images="selectMonth.images" v-if="selectMonth")
</template>

<script>
import { mapState } from 'vuex'
import { range } from 'lodash'
import AdminComplexProgressMonth from '@/components/admin/complex/progress/AdminComplexProgressMonth'
import AdminComplexProgressUpload from '@/components/admin/complex/progress/AdminComplexProgressUpload'
import { months as monthsList } from '~/helpers/date'

export default {
  name: 'AdminComplexProgress',
  components: { AdminComplexProgressUpload, AdminComplexProgressMonth },
  async fetch () {
    if (!this.progress) {
      await this.loadProgress()
    }
  },
  data () {
    return {
      loading: false,
      tabYear: null,
      tabMonth: null
    }
  },
  computed: {
    ...mapState('complex', { complex: 'select', progress: 'progress' }),
    years () {
      const years = range(2019, +(new Date()).getFullYear() + 2)
      return years.map((year) => {
        return {
          name: year,
          count: this.progress.filter(e => e.year === year && e.images.length).length
        }
      })
    },
    months () {
      return monthsList.map((month, i) => {
        const find = this.progress.find(e => e.year === Number(this.tabYear) && e.month === i + 1)
        return {
          name: month,
          count: find ? find.images.length : 0
        }
      })
    },
    selectMonth () {
      return this.progress.find(e => +e.year === Number(this.tabYear) && +e.month === Number(this.tabMonth))
    }
  },
  created () {
    const date = new Date()
    this.tabYear = String(date.getFullYear())
    this.tabMonth = String(date.getMonth() + 1)
  },
  methods: {
    async loadProgress () {
      this.loading = true
      await this.$store.dispatch('complex/loadProgress')
      this.loading = false
    }
  }
}
</script>
