<template lang="pug">
  v-menu(
    v-model="show"
    left
    :close-on-content-click="false"
    :nudge-width="200"
    offset-y)
    template(#activator="{ on, attrs }")
      v-btn(icon v-bind="attrs" v-on="on")
        v-icon mdi-arrow-left-right-bold
    v-card
      v-card-text
        v-autocomplete(v-model="model"
          :loading="loading"
          :items="items"
          placeholder="Выберите очередь"
          :error-messages="errors.queue_id"
          append-outer-icon="mdi-check"
          @click:append-outer="changeBuilding")
</template>

<script>

export default {
  name: 'AdminComplexQueuesBuildingChange',
  props: {
    buildingId: {
      type: Number,
      required: true
    },
    items: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      model: null,
      loading: false,
      show: false,
      errors: {}
    }
  },
  methods: {
    async changeBuilding () {
      this.loading = true
      try {
        await this.$api.complex.queues.changeBuilding({ building_id: this.buildingId, queue_id: this.model })
        this.$emit('loadQueues')
        this.model = null
        this.show = false
      } catch (e) {
        this.errors = this.$response.errors(e, ['queue_id'])
      }
      this.loading = false
    }
  }
}
</script>
