<template lang="pug">
.image-wrapper
  template(v-if="!image")
    v-file-input(v-model="file"
      color="deep-purple accent-4"
      label="Изображение"
      placeholder="Выберите изображение"
      prepend-icon="mdi-paperclip"
      outlined
      :error-messages="errors.image"
      :show-size="1000")
      template(v-slot:selection="{ index, text }")
        v-chip(color="deep-purple accent-4"
          dark
          label
          small) {{ text }}
    .text-center
      v-btn(:loading="loading" color="deep-purple accent-4" @click="uploadImage") Загрузить
  template(v-else)
    v-img(:src="image.path")
      admin-complex-queues-positions(:buildings="buildings")
      v-btn(color="red" absolute right top outlined icon small :loading="loading" @click="deleteImage")
        v-icon mdi-close
</template>

<script>
import AdminComplexQueuesPositions from '@/components/admin/complex/queues/AdminComplexQueuesPositions'
export default {
  name: 'AdminComplexQueuesImage',
  components: { AdminComplexQueuesPositions },
  props: {
    queueId: {
      type: Number,
      required: true
    },
    buildings: {
      type: Array,
      required: true
    },
    image: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      file: null,
      loading: false,
      errors: { }
    }
  },
  methods: {
    deleteImage () {
      this.$modal.show('dialog', {
        title: 'Удаление изображения',
        text: 'Вы действительно хотите удалить изображение',
        buttons: [
          {
            title: 'Нет',
            handler: () => {
              this.$modal.hide('dialog')
            }
          },
          {
            title: 'Да',
            handler: async () => {
              try {
                await this.$api.complex.queues.deleteImage(this.queueId)
                this.$emit('loadQueues')
              } catch { }
              this.$modal.hide('dialog')
            }
          }
        ]
      })
    },
    async uploadImage () {
      this.loading = true
      try {
        await this.$api.complex.queues.image(this.queueId, this.file)
        this.$emit('loadQueues')
      } catch (e) {
        this.errors = this.$response.errors(e, ['image'])
      }
      this.loading = false
    }
  }
}
</script>

<style scoped lang="scss">
.image-wrapper{
  border: 1px dashed rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  padding: 15px;
}
</style>
