<template lang="pug">
  v-menu(
    v-model="show"
    left
    :close-on-content-click="false"
    :nudge-width="200"
    offset-y)
    template(#activator="{ on, attrs }")
      v-btn(icon color="success" v-bind="attrs" v-on="on")
        v-icon mdi-lead-pencil
    v-card
      v-card-text
        v-text-field(v-model="model"
          :loading="loading"
          :error-messages="errors.name"
          placeholder="Новое название"
          append-outer-icon="mdi-check"
          @click:append-outer="send")
</template>

<script>

export default {
  name: 'AdminComplexQueuesBuildingName',
  props: {
    buildingId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      model: null,
      loading: false,
      show: false,
      errors: {}
    }
  },
  methods: {
    async send () {
      this.loading = true
      try {
        await this.$api.complex.buildings.change(this.buildingId, { name: this.model })
        this.$emit('loadQueues')
        this.show = false
        this.model = null
      } catch (e) {
        this.errors = this.$response.errors(e, ['name'])
      }
      this.loading = false
    }
  }
}
</script>
