<template lang="pug">
  v-chip.ma-1(
    color="primary"
    :style="{position:absolute ? 'absolute':'relative',top:`${top}%`,left:`${left}%`,transform: absolute ? 'translate(-50%, -50%)':null}"
    draggable
    :large="size > 1"
    :small="size >= 0.3 && size <= 0.6"
    :x-small="size < 0.3"
    @dragend="dragEnd"
  ) {{building.name}}
</template>

<script>
export default {
  name: 'AdminComplexQueuesPositionsItem',
  props: {
    building: {
      type: Object,
      required: true
    },
    size: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      top: null,
      left: null
    }
  },
  computed: {
    absolute () {
      return this.top !== null && this.left !== null
    }
  },
  created () {
    if (this.building.position) {
      this.top = this.building.position.y
      this.left = this.building.position.x
    }
  },
  methods: {
    async dragEnd (e) {
      const t = e.target
      const parent = t.parentElement
      const startPosition = {
        x: t.offsetLeft - (t.offsetWidth / 2),
        y: t.offsetTop - (t.offsetHeight / 2)
      }
      this.top = this.checkPosition((e.offsetY + startPosition.y) / parent.offsetHeight * 100)
      this.left = this.checkPosition((e.offsetX + startPosition.x) / parent.offsetWidth * 100)
      await this.$api.complex.buildings.position(this.building.id, { x: this.left, y: this.top })
    },
    checkPosition (percent) {
      if (percent > 100) {
        return 100
      } if (percent < 0) {
        return 0
      }
      return percent
    }
  }
}
</script>

<style scoped>

</style>
