<template lang="pug">
  div
    v-tooltip(bottom :disabled="!comment")
      template(v-slot:activator="{ on, attrs }")
        v-btn(icon :color="comment ? 'purple darken-1' : 'purple lighten-3'"
          v-bind="attrs"
          v-on="on"
          @click="$modal.show('modal-building-comment',{buildingId,comment })")
          v-icon mdi-message-text
      div(v-html="comment")
</template>

<script>

export default {
  name: 'AdminComplexQueuesBuildingComment',
  props: {
    buildingId: {
      type: Number,
      required: true
    },
    comment: {
      type: String,
      default: null
    }
  }
}
</script>

<style scoped>

</style>
