<template lang="pug">
  v-card-actions
    v-spacer
    v-btn(color="success" outlined @click="showModal") Изменить
    v-btn(color="error" outlined @click="deleteQueue") Удалить
    admin-modal-queue(:queue-id="queueId" @loadQueues="$emit('loadQueues')")
</template>

<script>
import AdminModalQueue from '@/components/admin/modal/AdminModalQueue'

export default {
  name: 'AdminComplexQueuesSettings',
  components: { AdminModalQueue },
  props: {
    queueId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      show: false
    }
  },
  methods: {
    showModal () {
      this.$modal.show('modal-queue')
    },
    deleteQueue () {
      this.$modal.show('dialog', {
        title: 'Удаление очереди',
        text: 'Вы действительно хотите удалить очередь',
        buttons: [
          {
            title: 'Нет',
            handler: () => {
              this.$modal.hide('dialog')
            }
          },
          {
            title: 'Да',
            handler: async () => {
              try {
                await this.$api.complex.queues.delete(this.queueId)
                this.$emit('loadQueues')
              } catch { }

              this.$modal.hide('dialog')
            }
          }
        ]
      })
    }
  }
}
</script>

<style scoped>

</style>
