<template lang="pug">
  .building-position(v-resize="setSize" ref="img" @dragover="$event.preventDefault()")
    admin-complex-queues-positions-item.ma-1(v-for="building in buildings"
      :key="building.id"
      :building="building"
      :size="size")
</template>

<script>
import AdminComplexQueuesPositionsItem from '@/components/admin/complex/queues/AdminComplexQueuesPositionsItem'
export default {
  name: 'AdminComplexQueuesPositions',
  components: { AdminComplexQueuesPositionsItem },
  props: {
    buildings: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      size: 1
    }
  },
  mounted () {
    this.setSize()
  },
  methods: {
    setSize () {
      this.size = this.$refs.img.parentElement.offsetWidth / 1000
    }
  }

}
</script>

<style scoped lang="scss">
.building-position{
  height: 100%;
}
</style>
