<template lang="pug">
  v-list-item
    v-list-item-content
      v-list-item-title {{building.name}}
      v-list-item-subtitle {{building.ending_quarter}} квартал {{building.ending_year}} года
    v-list-item-action
      .d-flex
        admin-complex-queues-building-name(:building-id="building.id" @loadQueues="$emit('loadQueues')")
        admin-complex-queues-building-comment(:building-id="building.id" :comment="building.params ? building.params.comment : null")
        admin-complex-queues-building-change(:building-id="building.id" @loadQueues="$emit('loadQueues')" v-if="showChangeQueue" :items="queueAutocomplete")
</template>

<script>
import AdminComplexQueuesBuildingName from '@/components/admin/complex/queues/AdminComplexQueuesBuildingName'
import AdminComplexQueuesBuildingChange from '@/components/admin/complex/queues/AdminComplexQueuesBuildingChange'
import AdminComplexQueuesBuildingComment from '@/components/admin/complex/queues/AdminComplexQueuesBuildingComment'
import AdminModalBuildingComment from '@/components/admin/modal/AdminModalBuildingComment'

export default {
  name: 'AdminComplexQueuesItem',
  components: { AdminModalBuildingComment, AdminComplexQueuesBuildingComment, AdminComplexQueuesBuildingChange, AdminComplexQueuesBuildingName },
  props: {
    building: {
      type: Object,
      required: true
    },
    queues: {
      type: Array,
      required: true
    },
    queue: {
      type: Object,
      required: true
    },
    showChangeQueue: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    queueAutocomplete () {
      return this.queues.map((e) => {
        return { text: e.name, value: e.id }
      }).filter(e => e.value !== this.queue.id)
    }
  }
}
</script>

<style scoped>

</style>
