<template lang="pug">
  div(v-if="complexList")
    v-btn(small block @click="formShow=true" v-if="!formShow") Добавить
    div(v-else)
      v-form(ref="form" lazy-validation)
        v-autocomplete(
          placeholder="Выберите комплекс"
          v-model="esbnId"
          :items="complexList"
          :rules="[rules.required]"
          :error-messages="errors.esbn_id"
          item-text="title"
          item-value="id"
        )
        .d-flex.justify-space-between
          v-btn(small @click="cancel") Отменить
          v-btn(small color="success" :loading="loading" @click="sendForm") Добавить
</template>

<script>
import { mapState } from 'vuex'
import { required } from '~/helpers/validators'

export default {
  name: 'AdminFormComplexEsbnAdd',
  async fetch () {
    await this.$store.dispatch('esbn/loadComplexList')
  },
  data () {
    return {
      formShow: false,
      esbnId: null,
      rules: { required },
      loading: false,
      errors: {}
    }
  },
  computed: {
    ...mapState('esbn', ['complexList'])
  },
  methods: {
    cancel () {
      this.formShow = false
      this.$refs.form.reset()
    },
    async sendForm () {
      const form = this.$refs.form
      if (form.validate()) {
        this.loading = true
        try {
          await this.$api.complex.add(this.esbnId)
          await this.$store.dispatch('complex/loadList')
          this.formShow = false
          form.reset()
          this.$noty.success('Комплекс добавлен')
        } catch (e) {
          this.errors = this.$response.errors(e, ['esbn_id'])
        }
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>

</style>
