<template lang="pug">
div(v-resize="setSize" ref="img" )
  v-img(:src="queue.image.path")
    v-chip.ma-1(v-for="building in queue.buildings"
      :key="building.id"
      v-if="building.position && building.position.y && building.position.x"
      :color="hoverBuildingId === building.id ? 'error':'primary'"
      :style="{position: 'absolute',top:`${building.position.y}%`,left:`${building.position.x}%`,transform:'translate(-50%, -50%)'}"
      :large="size > 1"
      :small="size >= 0.3 && size <= 0.6"
      :x-small="size < 0.3"
      @mouseover="mouseover(building.id)"
      @mouseout="mouseout()"
    ) {{building.params && building.params.name ? building.params.name : building.corp}}
</template>

<script>

export default {
  name: 'ComplexQueuesImage',
  props: {
    queue: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      size: 1,
      hoverBuildingId: null
    }
  },
  watch: {
    hoverBuildingId (val) {
      this.$emit('hover-building', val)
    }
  },
  mounted () {
    this.setSize()
  },
  methods: {
    mouseover (buildingId) {
      this.hoverBuildingId = buildingId
    },
    mouseout () {
      this.hoverBuildingId = null
    },
    setSize () {
      this.size = this.$refs.img.parentElement.offsetWidth / 1000
    }
  }
}
</script>

<style scoped>

</style>
