<template lang="pug">
v-card(flat v-if="queues")
  .d-flex
    v-btn-toggle(v-model="tabQueue" mandatory group color="primary")
      v-btn(v-for="queue in queues" :key="queue.id" :value="queue.id" v-if="queue.image") {{queue.name}}
  v-card-text
    complex-queues-image(:queue="selectQueue" v-if="selectQueue && selectQueue.image" @hover-building="$emit('hover-building',$event)")
</template>

<script>
import { mapState } from 'vuex'
import ComplexQueuesImage from '@/components/complex/queues/ComplexQueuesImage'

export default {
  name: 'ComplexQueues',
  components: { ComplexQueuesImage },
  async fetch () {
    if (!this.queues) {
      await this.loadQueues()
    }
  },
  data () {
    return {
      loading: false,
      tabQueue: null
    }
  },
  computed: {
    ...mapState('complex', {
      queues: 'queues'
    }),
    selectQueue () {
      if (this.tabQueue) {
        return this.queues.find(e => e.id === this.tabQueue)
      }
      return null
    }
  },
  watch: {
    selectQueue (val) {
      if (val) {
        this.$emit('select-queue', val)
      }
    }
  },
  methods: {
    async loadQueues () {
      this.loading = true
      await this.$store.dispatch('complex/loadQueues')
      this.loading = false
    }
  }
}
</script>

<style scoped>

</style>
