<template lang="pug">
v-card.building-card(flat)
  .building-name.pl-4.mb-2
    v-btn(small depressed :color="select ? 'error':'default'" ) {{building.name}}
    span.primary--text.ml-3 {{building.ending}}
    span.ml-3(v-if="building.params ? building.params.comment : false")
      v-tooltip(bottom)
        template(v-slot:activator="{ on, attrs }")
          icon-comment(v-bind="attrs" v-on="on")
        div(v-html="building.params.comment")
  .building-floors.ml-4
    strong {{building.floors}} этажей
    span
      icon-roller.mr-1
      | {{finishing}}
  v-data-table.mt-2(dense
    :items="rooms"
    :headers="headers"
    hide-default-header
    hide-default-footer)
    template(v-slot:item.count="{item}")
      .primary--text {{item.count}}
</template>

<script>
import { uniq } from 'lodash'
import IconRoller from '~/assets/icons/roller.svg'
import IconComment from '~/assets/icons/comment.svg'

export default {
  name: 'ComplexQueuesBuilder',
  components: { IconRoller, IconComment },
  props: {
    building: {
      type: Object,
      required: true
    },
    select: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      headers: [
        { value: 'name' },
        { value: 'count' },
        { value: 'price' }
      ]
    }
  },
  computed: {
    finishing () {
      return uniq(this.building.stat.map(e => e.facing)).join(' / ')
    },
    rooms () {
      return this.building.stat.map((e) => {
        return {
          name: e.room.full,
          price: e.price_str,
          count: e.count_apartments
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
.building-card{
  .building-name{
    display: flex;
    white-space: nowrap;
  }
  .building-floors{
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
  }
}
</style>
