<template lang="pug">
  v-container(v-if="complex")
    nuxt-child
</template>

<script>

import { mapState } from 'vuex'

export default {
  layout: 'admin',
  computed: {
    ...mapState('complex', { complex: 'select' }),
    complexId () {
      return this.$route.params.complex
    }
  },
  watch: {
    complexId: {
      async handler () {
        await this.$store.dispatch('complex/loadComplex', this.complexId)
      },
      immediate: true
    }
  }
}
</script>
