<template lang="pug">
  v-card(flat)
    v-carousel(v-model="slide" hide-delimiters height="400")
      .slider-preview
        v-slide-group(v-model="slide" show-arrows)
          v-slide-item(v-for="image in selectMonth.images" :key="image.id" v-slot:default="{ active, toggle }")
            v-card.mx-1(width="80" height="50" flat outlined :color="active ? 'error' : 'primary'" @click="toggle")
              v-img(:src="image.path" aspect-ratio="1.7")
      v-carousel-item(v-for="image in selectMonth.images" :key="image.id" :src="image.path" @click="selectImage(image.path)")
        v-btn(absolute right top color="white" light) {{$moment(image.created*1000).format('L')}}
    v-overlay(v-if="imagePath" @click.native="imagePath = null")
      v-img(:src="imagePath" @click="imagePath = null")
</template>

<script>
import { carouselMain } from '@/mixins/carousel'

export default {
  name: 'ComplexProgressSlider',
  mixins: [carouselMain],
  props: {
    selectMonth: {
      type: Object,
      required: true
    }
  }
}
</script>
