<template lang="pug">
v-card(v-if="progress && progress.length" flat)
  .progress-block
    v-select.select-input(v-model="selectYear" :items="years" outlined background-color="#fff")
    v-tabs(v-model="tabMonth")
      v-tab(v-for="month in months" :key="month.id" :href="`#${month.id}`") {{month.name}}
      v-tab-item(v-for="month in months" :key="month.id" :value="`${month.id}`")
        complex-progress-slider.mt-1(:select-month="selectMonth")
</template>

<script>
import { mapState } from 'vuex'
import { uniq } from 'lodash'
import ComplexProgressSlider from '@/components/complex/progress/ComplexProgressSlider'
import { months as monthNames } from '~/helpers/date'

export default {
  name: 'ComplexProgress',
  components: { ComplexProgressSlider },
  async fetch () {
    if (!this.progress) {
      await this.loadProgress()
    }
  },
  data () {
    return {
      loading: false,
      selectYear: null,
      tabMonth: null
    }
  },
  computed: {
    ...mapState('complex', {
      progressList: 'progress'
    }),
    years () {
      if (!this.progress) {
        return []
      }
      return uniq(this.progress.map(e => e.year)).sort((a, b) => a - b)
    },
    months () {
      const list = uniq(this.progress.filter(e => e.year === Number(this.selectYear)).map(e => e.month)).sort((a, b) => a - b)

      return list.map((e) => {
        return {
          id: e,
          name: monthNames[e - 1].slice(0, 3)
        }
      })
    },
    selectMonth () {
      return this.progress.find(e => e.year === Number(this.selectYear) && e.month === Number(this.tabMonth))
    },
    progress () {
      return this.progressList ? this.progressList.filter(e => e.images.length) : null
    }
  },
  mounted () {
    const date = new Date()
    this.selectYear = date.getFullYear()
    this.tabMonth = String(date.getMonth() + 1)
  },
  methods: {
    async loadProgress () {
      this.loading = true
      await this.$store.dispatch('complex/loadProgress')
      this.loading = false
    }
  }
}
</script>

<style scoped lang="scss">
.progress-block{
  position: relative;
  .select-input{
    position: absolute;
    top: 60px;
    left: 20px;
    width: 100px;
    z-index: 1;
  }
}
</style>
