@import "components/noty";
@import "components/modal";
@import "components/carousel";
@import "components/editor";

.main-title{
  padding: 0 20px;
  line-height: 50px;
  color: #fff;
  background-color: var(--v-primary-base);
}
.close-modal-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.table-apartments{
  tr{
    cursor: pointer;
  }
  .select-row{
    background-color: var(--v-primary-lighten4) !important;
  }
}
