$border: thin solid rgba(255, 255, 255, 0.12);
.vm--container{
  .vm--modal {
    background-color: #1E1E1E;
    box-shadow: none;
    border: $border;
    .vue-dialog-buttons{
      border-top: $border;
      .vue-dialog-button{
        transition: .3s;
        background: #272727;
        &:not(:first-of-type) {
          border-left: $border;
        }
        &:hover {
          background: #1E1E1E;
        }
      }

    }
  }
}

