<template lang="pug">
  modal(:name="name" height="auto" width="100%" :max-width="960" adaptive scrollable @before-open="beforeOpen")
    v-btn.close-modal-btn(fab color="error" x-small outlined @click="$modal.hide(name)")
      v-icon mdi-close
    v-card(flat v-if="flat")
      v-card-text
        .flat-info.d-flex
          span {{flat.room.title}}
          span.font-weight-bold.blue--text {{flat.square}} м
            sup 2
          span(v-if="flat.buildingInfo.queue.showName") {{flat.buildingInfo.queue.showName}}
          span {{flat.buildingInfo.name}}
          span.font-weight-bold.blue--text {{flat.buildingInfo.ending}}
        v-data-table.table-apartments.my-3(dense
          :items="dataTable"
          :item-class="selectClass"
          :headers="headers"
          @click:row="selectId = $event.id"
          hide-default-footer)
          template(v-slot:item.block="{ item }")
            v-icon {{item.block ? 'mdi-lock':'mdi-lock-open-variant-outline'}}
        v-row(v-if="activeFlat")
          v-col(cols=12 md="7")
            v-card(outlined)
              v-img(height="400" :src="activeFlat.image" contain)
            v-list(dense)
              v-list-item(v-for="(price,i) in priceList" :key="i")
                v-list-item-title.body-1 {{price.title}}
                v-list-item-subtitle(v-html="price.value")
          v-col(cols=12 md="5")
            .attributes-list.pa-2
              v-list.pa-0(dense)
                v-list-item(v-for="(attr,i) in attributesList" :key="i" v-if="attr.value")
                  v-list-item-title {{attr.title}}
                  v-list-item-subtitle.text-right {{attr.value}}
</template>

<script>
export default {
  name: 'ComplexModalFlat',
  data () {
    return {
      name: 'modal-flat',
      flat: null,
      selectId: null,
      activeFlat: null,
      headers: [
        { text: 'Цена', value: 'price' },
        { text: 'Отделка', value: 'facing' },
        { text: 'Этаж', value: 'floor' },
        { text: 'Окна', value: 'direction' },
        { text: 'Бронь', value: 'block' }
      ]
    }
  },
  computed: {
    dataTable () {
      return this.flat.apartments.map((e) => {
        return {
          facing: e.facingInfo.title,
          direction: e.direction ? e.direction.full : null,
          price: this.$helpers.format.thousands(e.apartment_price),
          floor: e.floor,
          block: e.block,
          id: e.id
        }
      })
    },
    priceList () {
      const e = this.activeFlat
      const f = this.$helpers.format.thousands
      const discount = e.base_price - e.apartment_price
      const percent = (discount / e.base_price * 100).toFixed()
      const meter = (e.apartment_price / e.square).toFixed()
      return [
        {
          title: 'Цена базовая:',
          value: `<strong class="blue--text body-1">${f(e.base_price)}</strong> руб.`
        },
        {
          title: 'Скидка:',
          value: `<strong class="blue--text body-1">${f(discount)}</strong> руб. (${percent}%)`
        },
        {
          title: 'Итоговая цена:',
          value: `<strong class="blue--text body-1">${f(e.apartment_price)}</strong> руб. (${f(meter)} р/м<sup>2</sup>)`
        }
      ]
    },
    attributesList () {
      const e = this.activeFlat
      return [
        {
          title: 'Площадь общая',
          value: e.square
        }, {
          title: 'Площадь жилая',
          value: e.living_square
        }, {
          title: 'Площадь кухни',
          value: e.kitchen_square
        }, {
          title: 'Этаж',
          value: `${e.floor} / ${this.flat.buildingInfo.floors}`
        }, {
          title: 'Высота потолков',
          value: e.ceiling_height
        }, {
          title: 'Стороны света',
          value: e.direction ? e.direction.full : null
        }, {
          title: 'Балкон / терраса',
          value: `${e.balcony} / ${e.terrace}`
        }, {
          title: 'Туалет',
          value: e.water_closet
        }
      ]
    }
  },
  watch: {
    selectId (val) {
      this.activeFlat = this.flat.apartments.find(e => e.id === val)
    }
  },
  methods: {
    beforeOpen (e) {
      this.flat = e.params.flat
      this.selectId = this.flat.apartments[0].id
    },
    selectClass (e) {
      return e.id === this.selectId ? 'select-row' : null
    }
  }
}
</script>

<style scoped lang="scss">
.flat-info{
  margin: 0 -15px;
  span{
    margin: 0 15px;
  }
}
.attributes-list{
  background-color: #F5F5F5;
  .v-list{
    background-color: transparent;
    .v-list-item{
      background-color: #fff;
      margin-bottom: 8px;
      &:last-child{
        margin-bottom:0;
      }
    }
  }

}
</style>
