<template lang="pug">
  v-row
    v-col(cols=12)
    v-col(cols=12)
      complex-flats
</template>

<script>

import ComplexFlats from '@/components/complex/flats/ComplexFlats'

export default {
  components: {
    ComplexFlats
  }
}
</script>
