<template lang="pug">
  v-row
    v-col(cols=12 md="6" v-if="complex.images" )
      complex-gallery(:images="complex.images.map(e=>e.image)")
    v-col(cols=12 md="6")
      complex-progress
    v-col(cols=12)
      complex-queues(@select-queue="selectQueue = $event" @hover-building="hoverBuildingId = $event")
    v-col(cols=12 v-if="selectQueue")
      v-row
        v-col(cols=6 md="4" v-for="building in selectQueue.buildings" :key="building.id")
          complex-queues-builder(:building="building" :select="hoverBuildingId === building.id")
</template>

<script>

import { mapState } from 'vuex'
import ComplexProgress from '@/components/complex/progress/ComplexProgress'
import ComplexQueues from '@/components/complex/queues/ComplexQueues'
import ComplexGallery from '@/components/complex/ComplexGallery'
import ComplexQueuesBuilder from '@/components/complex/queues/ComplexQueuesBuilder'
import ComplexFlats from '@/components/complex/flats/ComplexFlats'

export default {
  components: {
    ComplexFlats,
    ComplexQueuesBuilder,
    ComplexGallery,
    ComplexQueues,
    ComplexProgress
  },
  data () {
    return {
      selectQueue: null,
      hoverBuildingId: null
    }
  },
  computed: {
    ...mapState('complex', { complex: 'select' })
  }
}
</script>
