<template lang="pug">
  v-card(flat)
    .complex-title {{complex.title}}
    .complex-subtitle Жилой комплекс
    v-carousel(v-model="slide" hide-delimiters height="400")
      .slider-preview
        v-slide-group(v-model="slide" show-arrows)
          v-slide-item(v-for="image in images" :key="image" v-slot:default="{ active, toggle }")
            v-card.mx-1(width="80" height="50" flat outlined :color="active ? 'error' : 'primary'" @click="toggle")
              v-img(:src="image" aspect-ratio="1.7")
      v-carousel-item(v-for="image in images" :key="image" :src="image" @click="selectImage(image)")
    v-overlay(v-if="imagePath" @click.native="imagePath = null")
      v-img(:src="imagePath" @click="imagePath = null")
</template>

<script>
import { carouselMain } from '@/mixins/carousel'
import { mapState } from 'vuex'

export default {
  name: 'ComplexGallery',
  mixins: [carouselMain],
  props: {
    images: {
      type: Array,
      required: true
    }
  },
  computed: {
    ...mapState('complex', { complex: 'select' })
  }
}
</script>
<style lang="scss">
.complex-title{
  text-transform: uppercase;
  font-size: 20px;
  line-height: 27px;
}
.complex-tsubtitle{
  font-size: 14px;
}
</style>
