<template lang="pug">
v-card(flat v-if="filterInfo")
  v-row
    v-col(cols="6" sm="4" md="3")
      v-select(v-bind="inputParams('queue_id')" @change="change('queue_id',$event)")
    v-col(cols="6" sm="4" md="3" v-if="filterInfo.buildings")
      v-select(v-bind="inputParams('building_id')" @change="change('building_id',$event)")

  v-row
    v-col(cols="6" sm="4" md="3")
      v-select(v-bind="inputParams('room_type')" @change="change('room_type',$event)")
    v-col(cols="6" sm="4" md="3")
      v-select(v-bind="inputParams('ending')" @change="change('ending',$event)")
    v-col(cols="6" sm="4" md="3")
      v-select(v-bind="inputParams('window')" @change="change('window',$event)")

  v-row
    v-col(cols="6" md="3")
      .d-flex
        v-text-field.mr-3(v-bind="inputParams('price.min',false)" v-money="moneyFormat" @keyup="change('price.min',$event.target.value.replace(/\\s/g, ''))")
        v-text-field(v-bind="inputParams('price.max',false)" v-money="moneyFormat" @keyup="change('price.max',$event.target.value.replace(/\\s/g, ''))")
    v-col(cols="6" md="3")
      .d-flex
        v-text-field.mr-3(v-bind="inputParams('floor.min',false)" @keyup="change('floor.min',$event.target.value)")
        v-text-field(v-bind="inputParams('floor.max',false)" @keyup="change('floor.max',$event.target.value)")
    v-col(cols="6" md="3")
      .d-flex
        v-text-field.mr-3(v-bind="inputParams('square.min',false)" @keyup="change('square.min',$event.target.value)")
        v-text-field(v-bind="inputParams('square.max',false)" @keyup="change('square.max',$event.target.value)")
    v-col(cols="6" md="3")
      .d-flex
        v-text-field.mr-3(v-bind="inputParams('kitchen.min',false)" @keyup="change('kitchen.min',$event.target.value)")
        v-text-field(v-bind="inputParams('kitchen.max',false)" @keyup="change('kitchen.max',$event.target.value)")

  v-row.justify-space-between
    v-col(cols="12" md="6")
      .d-flex.align-center.fill-height
        v-switch.mt-0.mr-3(:value="filter.top" @change="change('top',$event)" label="ТОП" color="primary" hide-details)
        v-switch.mt-0.mr-3(:value="filter.balcony" @change="change('balcony',$event)" label="Балкон" color="primary" hide-details)
        v-switch.mt-0(:value="filter.status" @change="change('status',$event)" label="Бронь" color="primary" hide-details)
    v-col(cols="12" md="6")
      v-chip-group(active-class="primary--text" :value="filter.window" @change="change('facing',$event)")
        v-chip(v-for="facing in filterInfo.facing" :key="facing.value" :value="facing.value") {{facing.text}}
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { debounce } from 'lodash'
import { VMoney } from 'v-money'

export default {
  name: 'ComplexFlatsFilter',
  directives: { money: VMoney },
  async fetch () {
    await this.$store.dispatch('flats/loadFilterInfo')
  },
  data () {
    return {
      moneyFormat: { thousands: ' ', precision: 0 },
      loading: false,
      selectParams: {
        clearable: true,
        outlined: true,
        'hide-details': true
      }
    }
  },
  computed: {
    ...mapState('flats', { filterInfo: 'filterInfo', filter: 'filter' }),
    ...mapGetters('flats', { filterGet: 'filter' }),
    paramsList () {
      return {
        queue_id: {
          value: this.filter.queue_id,
          items: this.filterInfo.queues,
          label: 'Очереди'
        },
        building_id: {
          value: this.filter.building_id,
          items: this.filterInfo.buildings,
          label: 'Корпуса'
        },
        room_type: {
          value: this.filter.room_type,
          items: this.filterInfo.rooms,
          label: 'Тип квартиры'
        },
        ending: {
          value: this.filter.ending,
          items: this.filterInfo.ending,
          label: 'Квартал сдачи'
        },
        window: {
          value: this.filter.window,
          items: this.filterInfo.windows,
          label: 'Окна'
        },
        'price.min': {
          value: this.filterInfo.range.price.min,
          label: 'Стоимость ОТ'
        },
        'price.max': {
          value: this.filterInfo.range.price.max,
          label: 'Стоимость ДО'
        },
        'floor.min': {
          value: this.filterInfo.range.floor.min,
          label: 'Этаж ОТ'
        },
        'floor.max': {
          value: this.filterInfo.range.floor.max,
          label: 'Этаж ДО'
        },
        'square.min': {
          value: this.filterInfo.range.square.min,
          label: 'Площадь ОТ'
        },
        'square.max': {
          value: this.filterInfo.range.square.max,
          label: 'Площадь ДО'
        },
        'kitchen.min': {
          value: this.filterInfo.range.kitchen.min,
          label: 'Площадь кухни ОТ'
        },
        'kitchen.max': {
          value: this.filterInfo.range.kitchen.max,
          label: 'Площадь кухни ДО'
        }
      }
    }
  },
  methods: {
    change: debounce(async function (attr, val) {
      await this.$store.dispatch('flats/changeFilter', { attr, val })
    }, 300),
    inputParams (attr, select = true) {
      let params = {
        clearable: true,
        outlined: true,
        'hide-details': true
      }
      if (!select) {
        params = {
          dense: true,
          'hide-details': true
        }
      }
      return {
        ...this.paramsList[attr],
        ...params
      }
    }
  }
}
</script>

<style scoped>

</style>
