<template lang="pug">
v-card.flat-item(outlined)
  v-carousel(v-if="images.length > 1" height="250" touchless hide-delimiter-background :show-arrows="false" light vertical-delimiters)
    v-carousel-item(v-for="(image,i) in images" :key="i")
      v-img(:src="image" contain height="250"  @click="$modal.show('modal-flat',{flat})")
  v-img(v-else :src="images[0]" contain height="250"  @click="$modal.show('modal-flat',{flat})")
  v-card-text.flat-description( @click="$modal.show('modal-flat',{flat})")
    .d-flex.justify-space-between.mb-1
      span {{flat.room.title}}
      strong.blue--text {{flat.square}} м
        sup 2
      span на
        strong  {{floors.length}}
        |  этаж{{floors.length === 1?'е':'ах'}}
    .d-flex.justify-space-between.mb-1
      span(v-if="flat.buildingInfo.queue.showName") {{flat.buildingInfo.queue.showName}}
      span {{flat.buildingInfo.name}}
      strong.purple--text.text--accent-3 {{facing}}
    .d-flex.mb-1(v-if="direction")
      span Окна: {{direction}}
    .prices
      ul.mt-2
        li от
          span.primary--text.body-1.font-weight-bold  {{price(flat.min_price)}}
        li до
          span.primary--text.body-1.font-weight-bold  {{price(flat.max_price)}}
      ul.mt-2
        li от
          span.primary--text.body-1  {{price((flat.min_price / flat.square).toFixed())}}
          |  р/м
          sup 2
        li до
          span.primary--text.body-1  {{price((flat.max_price / flat.square).toFixed())}}
          |  р/м
          sup 2
</template>

<script>
import { uniq } from 'lodash'
export default {
  name: 'ComplexFlatsItem',
  props: {
    flat: {
      type: Object,
      required: true
    }
  },
  computed: {
    floors () {
      return uniq(this.flat.apartments.map(e => e.floor))
    },
    images () {
      return uniq(this.flat.apartments.map(e => e.image))
    },
    facing () {
      const arr = uniq(this.flat.apartments.map(e => e.facingInfo.title))
      return this.formatArr(arr)
    },
    direction () {
      const arr = uniq(this.flat.apartments.filter(e => e.direction).map(e => e.direction.full))
      return this.formatArr(arr)
    }
  },
  methods: {
    price (price) {
      return this.$helpers.format.thousands(price)
    },
    formatArr (arr) {
      return arr.length === 1 ? arr[0] : arr.join(' / ')
    }
  }
}
</script>

<style scoped lang="scss">
.flat-item{
  transition: border .3s;
  cursor: pointer;
  &:hover{
    border: thin solid var(--v-primary-base);
  }
}
.flat-description{
  .prices{
    ul{
      list-style: none;
      padding: 0;
    }
  }
}
</style>
