<template lang="pug">
  v-card(flat)
    .main-title Квартиры
    complex-flats-filter
    .d-flex.justify-space-between.align-center.mt-4(v-if="pagination")
      .text-uppercase Найдено квартир:
        span.blue--text  {{pagination.totalItems}}
      div(:style="{width:'200px'}")
        v-select(:items="sort" label="Сортировка" :value="sortValue" @change="$store.dispatch('flats/changeSort', $event)" clearable)
    v-card(flat v-if="flats" v-infinite-scroll="loadFlats" :infinite-scroll-distance="20")
      v-row
        v-col(cols=6 md="4" lg=3 v-for="(flat,i) in flats" :key="'flat'+i")
          complex-flats-item(:flat="flat")
        v-col(cols=6 md="4" lg=3 v-for="i in 8" :key="i" v-if="loading")
          v-skeleton-loader(type="card")
    complex-modal-flat
</template>

<script>
import { mapState } from 'vuex'
import ComplexFlatsItem from '@/components/complex/flats/ComplexFlatsItem'
import ComplexModalFlat from '@/components/complex/modal/ComplexModalFlat'
import infiniteScroll from 'vue-infinite-scroll'
import ComplexFlatsFilter from '@/components/complex/flats/ComplexFlatsFilter'

export default {
  name: 'ComplexFlats',
  directives: { infiniteScroll },
  components: { ComplexFlatsFilter, ComplexModalFlat, ComplexFlatsItem },
  async fetch () {
    await this.$store.dispatch('flats/loadList')
  },
  data () {
    return {
      sort: [
        { value: '-price', text: 'Цена по убыванию' },
        { value: 'price', text: 'Цена по возрастанию' },
        { value: '-ending', text: 'Сдача по убыванию' },
        { value: 'ending', text: 'Сдача по возрастанию' },
        { value: '-floor', text: 'Этаж по убыванию' },
        { value: 'floor', text: 'Этаж по возрастанию' }
      ]
    }
  },
  computed: {
    ...mapState('flats', { flats: 'list', loading: 'loadingList', pagination: 'pagination', sortValue: 'sort' })
  },
  methods: {
    async loadFlats () {
      await this.$store.dispatch('flats/loadList')
    }
  }
}
</script>

<style scoped>

</style>
