<template lang="pug">
  v-app
    client-only
      vue-js-dialog
      notifications(:duration=3000 position='bottom right')
    v-navigation-drawer(v-model="complexMenuShow" app right clipped v-if="complexes")
      v-list-item
        v-list-item-content
          admin-form-complex-esbn-add
          v-text-field(v-model="search" placeholder="Поиск")
      v-divider
      v-list(dense)
        v-list-item(link
          v-for="complex in complexesFiler"
          :key="complex.id"
          :to="{name:'admin-complex-main',params: {complex: complex.id}}")
          v-list-item-content
            v-list-item-title {{complex.title}}
    v-app-bar(app dark clipped-right dense)
      v-toolbar-title {{complex ? complex.title : 'ADMIN'}}
      v-btn(icon v-if="complex" :to="{name:'complex-id-main',params: {id:complex.id}}")
        v-icon mdi-link
      v-spacer
      v-btn.mr-2(icon @click="$auth.logout('local')")
        v-icon mdi-exit-to-app
      v-btn(icon @click="complexMenuShow=!complexMenuShow")
        v-icon mdi-text-search
    admin-menu-complex(v-if="complex")
    v-main
      nuxt
</template>

<script>

import { mapState } from 'vuex'
import VueJsDialog from 'vue-js-modal/src/components/Dialog.vue'
import AdminMenuComplex from '@/components/admin/menu/AdminMenuComplex'
import AdminFormComplexEsbnAdd from '@/components/admin/form/AdminFormComplexEsbnAdd'

export default {
  name: 'AdminLayout',
  components: { AdminFormComplexEsbnAdd, AdminMenuComplex, VueJsDialog },
  async fetch () {
    await this.$store.dispatch('complex/loadList')
  },
  data: () => ({
    complexMenuShow: false,
    search: ''
  }),
  computed: {
    ...mapState('complex', { complexes: 'list', complex: 'select' }),
    complexesFiler () {
      return this.complexes.filter(e => ~e.title.toLowerCase().indexOf(this.search))
    }
  },
  created () {
    this.$vuetify.theme.dark = true
  }
}
</script>
