<template lang="pug">
  v-app(v-if="complex")
    client-only
      notifications(:duration='3000' position='bottom right')
    v-app-bar(app color="white" flat absolute)
      v-toolbar-title
        .text-h2 {{complex.title}}
      v-btn(icon v-if="$auth.user.role==='admin'" :to="{name:'admin-complex-main',params: {complex:complexId}}")
        v-icon mdi-link
      v-spacer
      .d-flex
        v-autocomplete(solo-inverted rounded flat
          hide-no-data
          hide-details
          :value="complex.id"
          :items="items"
          @change="$router.push({name:$route.name,params: {id:$event}})")
      v-btn.mx-1(icon @click="$auth.logout('local')")
        v-icon mdi-exit-to-app
    v-main
      .main-menu
        v-container
          v-btn(v-for="(item,i) in menu" :key="i" color="primary" depressed :to="item.to") {{item.name}}
      nuxt
</template>

<script>

import { mapState } from 'vuex'

export default {
  name: 'DefaultLayout',
  async fetch () {
    await this.$store.dispatch('complex/loadList')
    if (this.complexId) {
      await this.$store.dispatch('complex/loadComplex', this.complexId)
    }
  },
  computed: {
    ...mapState('complex', { complex: 'select', complexes: 'list' }),
    menu () {
      if (!this.complex.id) {
        return []
      }
      return [
        { name: 'Рендеры', to: { name: 'complex-id-main', params: { id: this.complex.id } } },
        { name: 'План', to: { name: 'complex-id-main', params: { id: this.complex.id } } },
        { name: 'Корпусы', to: { name: 'complex-id-main', params: { id: this.complex.id } } },
        { name: 'Квартиры', to: { name: 'complex-id-flats', params: { id: this.complex.id } } }
      ]
    },
    complexId () {
      return this.$route.params.id
    },
    items () {
      return this.complexes.map((e) => {
        return {
          value: e.id,
          text: e.title
        }
      })
    }
  },
  watch: {
    async complexId (val) {
      await this.$store.dispatch('complex/loadComplex', val)
    }
  },
  created () {
    this.$vuetify.theme.dark = false
  }
}
</script>
<style lang="scss">

.main-menu{
  background-color: var(--v-primary-base);
}
</style>
