<template lang="pug">
  v-app
    v-main
      v-container.fill-height(fluid)
        v-row(align='center' justify='center')
          v-col(cols=12 sm=2 md=4)
            nuxt
</template>

<script>
export default {
  created () {
    this.$vuetify.theme.dark = true
  }
}
</script>
