<template lang="pug">
  client-only
    v-navigation-drawer(v-model="menuShow" app expand-on-hover mini-variant)
      v-list(dense)
        v-list-item(link :to="{name:'admin-complex-main'}" )
          v-list-item-action
            v-icon mdi-home
          v-list-item-content
            v-list-item-title Главная
        v-list-item(link :to="{name:'admin-complex-progress'}" )
          v-list-item-action
            v-icon mdi-clock-fast
          v-list-item-content
            v-list-item-title Ход строительства
</template>

<script>
export default {
  name: 'AdminMenuComplex',
  data () {
    return {
      menuShow: true
    }
  }
}
</script>

<style scoped>

</style>
