<template lang="pug">
  v-card.elevation-12
    v-card-text
      v-autocomplete(
        placeholder="Выберите комплекс"
        v-model="complexId"
        :items="items")
    v-card-actions
      v-btn(:to="{name:'admin-complex-main',params: {complex:complexId}}" v-if="complexId && $auth.user.role==='admin'" color="black" dark) Админка
      v-spacer
      v-btn(:to="{name:'complex-id-main',params: {id:complexId}}" v-if="complexId" color="primary") Открыть
</template>

<script>

import { mapState } from 'vuex'

export default {
  layout: 'login',
  async fetch () {
    await this.$store.dispatch('complex/loadList')
  },
  data () {
    return {
      complexId: null
    }
  },
  computed: {
    ...mapState('complex', {
      complexes: 'list'
    }),
    items () {
      return this.complexes.map((e) => {
        return {
          value: e.id,
          text: e.title
        }
      })
    }
  },
  created () {
    this.$vuetify.theme.dark = false
  }

}
</script>
