<template lang="pug">
  v-card.elevation-12
    v-toolbar(color='primary' dark flat)
      v-toolbar-title Complex Info
    v-card-text
      v-form(
        ref="form"
        lazy-validation
      )
        v-text-field(
          label="Логин"
          v-model="form.login"
          :rules="[rules.required]"
          :error-messages="errors.login"
          prepend-icon="mdi-account"
        )
        v-text-field(
          label="Пароль"
          v-model="form.password"
          :rules="[rules.required,rules.password]"
          :error-messages="errors.password"
          prepend-icon="mdi-lock"
          type="password"
        )
    v-card-actions
      v-spacer
      v-btn(color='primary' @click="sendForm" :loading="loading") Войти
</template>

<script>
import { required, password } from '~/helpers/validators'

export default {
  auth: 'guest',
  layout: 'login',
  data () {
    return {
      loading: false,
      errors: {},
      rules: { required, password },
      form: {
        login: null,
        password: null
      }
    }
  },
  methods: {
    async sendForm () {
      if (this.$refs.form.validate()) {
        this.loading = true
        try {
          await this.$auth.loginWith('local', { data: this.form })
        } catch (e) {
          this.errors = this.$response.errors(e, ['login', 'password'])
        }
        this.loading = false
      }
    }
  }
}
</script>
