<template lang="pug">
  v-card(flat)
    v-row
      v-col(v-for="image in images" :key="image.id" sm="4" cols="6")
        v-img(:src="image.path" aspect-ratio="1.7")
          v-btn(color="red" absolute right top outlined icon small @click="deleteImage(image.id)")
            v-icon mdi-close
</template>

<script>

export default {
  name: 'AdminComplexProgressMonth',
  components: {},
  props: {
    images: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      files: null,
      errors: []
    }
  },
  methods: {
    async deleteImage (imageId) {
      this.loading = true
      try {
        await this.$store.dispatch('complex/deleteProgressImage', imageId)
      } catch (e) { }
      this.loading = false
    }
  }
}
</script>

<style scoped>

</style>
