<template lang="pug">
  v-card(flat)
    v-card-text
      v-file-input(v-model="images"
        color="deep-purple accent-4"
        label="Изображения"
        placeholder="Выберите изображения"
        prepend-icon="mdi-paperclip"
        outlined
        multiple
        :error-messages="errors.images"
        :show-size="1000")
        template(v-slot:selection="{ index, text }")
          v-chip(color="deep-purple accent-4"
            dark
            label
            small) {{ text }}
      .text-center
        v-btn(:loading="loading" color="deep-purple accent-4" @click="uploadImages") Загрузить
</template>

<script>

import { mapState } from 'vuex'

export default {
  name: 'AdminComplexProgressUpload',
  components: {},
  props: {
    year: {
      type: Number,
      required: true
    },
    month: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      images: null,
      loading: false,
      errors: {}
    }
  },
  computed: {
    ...mapState('complex', { complex: 'select', progress: 'progress' }),
    progressId () {
      const find = this.progress.find(e => +e.year === this.year && +e.month === this.month)
      return find ? find.id : null
    }
  },
  methods: {
    async uploadImages () {
      if (!this.images) {
        this.errors = { images: 'Необходимо выбрать изображения' }
        return
      }
      this.loading = true
      try {
        if (!this.progressId) {
          await this.$store.dispatch('complex/addProgress', {
            complexId: this.complex.id,
            date: `${this.year}-${this.month}`
          })
        }
        await this.$store.dispatch('complex/loadProgressImages', { progressId: this.progressId, images: this.images })
        this.$noty.success('Изображения загружены')
        this.images = null
        this.errors = {}
      } catch (e) {
        this.errors = this.$response.errors(e, ['images'])
      }
      this.loading = false
    }
  }
}
</script>

<style scoped>

</style>
