<template lang="pug">
  modal(:name="name" height="auto" width="100%" :max-width="580" :adaptive="true" :scrollable="true" @before-open="beforeOpen")
    v-card(dark)
      v-card-title Комментарий
      v-card-text
        client-only
          tiptap-vuetify(light :toolbar-attributes="{ color: 'black' }" v-model="model" :extensions="extensions")
      v-card-actions
        v-spacer
        v-btn(color="success" :loading="loading" @click="saveComment") Сохранить
</template>

<script>
import {
  TiptapVuetify,
  Bold,
  Italic,
  ListItem,
  BulletList,
  OrderedList
} from 'tiptap-vuetify'
export default {
  name: 'AdminModalBuildingComment',
  components: { TiptapVuetify },
  data () {
    return {
      extensions: [
        Bold,
        Italic,
        ListItem,
        BulletList,
        OrderedList
      ],
      name: 'modal-building-comment',
      model: null,
      loading: false,
      buildingId: null
    }
  },
  methods: {
    saveComment () {
      this.loading = true
      try {
        this.$api.complex.buildings.change(this.buildingId, { comment: this.model })
        this.$emit('loadQueues')
        this.$modal.hide(this.name)
      } catch (e) { }

      this.loading = false
    },
    beforeOpen (e) {
      this.buildingId = e.params.buildingId
      this.model = e.params.comment
    }
  }
}
</script>

<style scoped lang="scss">
.tiptap-vuetify-editor__content {
  max-height: 200px;
}
</style>
