<template lang="pug">
  modal(:name="name" height="auto" width="100%" :max-width="580" :adaptive="true" :scrollable="true")
    v-card(dark)
      v-card-title Изменить название
      v-card-text
        v-text-field(placeholder="Новое название" v-model="model" :error-messages="errors.name")
      v-card-actions
        v-spacer
        v-btn(color="success" @click="changeQueue") Сохранить
</template>

<script>
export default {
  name: 'AdminModalQueue',
  props: {
    queueId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      name: 'modal-queue',
      model: null,
      errors: {}
    }
  },
  methods: {
    async changeQueue () {
      try {
        await this.$api.complex.queues.update(this.queueId, { name: this.model })
        this.$modal.hide(this.name)
        this.$emit('loadQueues')
        this.model = null
      } catch (e) {
        this.errors = this.$response.errors(e, ['name'])
      }
    }
  }
}
</script>

<style scoped>

</style>
